%% -*- mode: erlang;erlang-indent-level: 2;indent-tabs-mode: nil -*-
%% {erl_opts, [debug_info]}.
{erl_opts, [{i, "src"},
            debug_info,
            {w, all},
            warn_export_all]}.

{plugins, [pc]}.

{provider_hooks, [
    {pre, [
        {compile, {pc, compile}},
        {clean,   {pc, clean}}
    ]}
]}.

{port_env, [
    {"(linux|darwin)", "CFLAGS", "$CFLAGS -O2 -finline-functions -fomit-frame-pointer -fno-strict-aliasing -Wmissing-prototypes -Wall -std=c99"},
    {"win32", "CFLAGS", "$CFLAGS /LD /O2 /DNDEBUG"}
]}.

{port_specs,
    [{"priv/bcrypt_nif.so", [
         "c_src/*.c"
    ]}]}.

%% These post_hooks are for rebar2. rebar.config.script removes them if
%% rebar3 is detected
{post_hooks,
 [{clean, "make -C c_src clean"},
  {compile, "make -C c_src"}]}.

%% plugins and provider_hooks are for rebar3. rebar.config.script removes them
%% if rebar2 is detected
{plugins, [pc]}.
{provider_hooks, [
  {pre, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
]}.
